#!/bin/bash

/home/root/scripts/systemBackup.sh --sourcepath {{item.sourcepath}} --destinationpath {{system_backup_configuration.destinationpath}} --backupfilename {{item.backupfilename}} --server {{system_backup_configuration.server}} {{'--becometransfert' if usetransfertuser else ''}} {{ '--exclusionpaths "' + item.exclusionpaths + '"' if item.exclusionpaths is defined else ''}}  $@
