RewriteEngine on
RewriteCond %{REQUEST_METHOD} ^(TRACE|TRACK)
RewriteRule .* - [F]

{% if (apache_java_gzip is defined and not apache_java_gzip)%}
				RequestHeader unset Accept-Encoding
{% endif %}

# Remove X-Powered-By header
Header unset X-Powered-By

# Deactivate KeepAlive
KeepAlive Off

Alias /parking/ "/var/www/parking/"

ErrorDocument 500 /parking/index.html
ErrorDocument 503 /parking/index.html
